<p><%= @customer.name || @customer.email %>,</p>

<p>Thank you for upgrading to premium! Your account has been charged a one-time fee of $15.00 USD.</p>

<p>Edit User Account Settings</p>
<p>View User Account Page</p>